.container
  %div.row
    %div#myDiv
  %hr
    %div.row
      %div#graph

:javascript
    var data = [
      {
        x: #{@x.data},
        y: #{@y.data},
        mode: 'markers',
        name: "Rank by #{@x.name}"
      }
    ];

    var layout = {
      title: 'Big West Women\'s Basketball Statistics',
      showlegend: true,
      // to highlight the timestamp we use shapes and create a rectangular

      shapes: [
        // 1st highlight during Feb 4 - Feb 6
        {
          type: 'rect',
          // x-reference is assigned to the x-values
          xref: 'x',
          // y-reference is assigned to the plot paper [0,1]
          yref: 'paper',
          x0: #{@x.data.min},
          y0: #{@y.data.min},
          x1: #{@x.data.max},
          y1: #{@y.data.max},
          fillcolor: '#d3d3d3',
          opacity: 0.2,
          line: {
            width: 0
          }
        },


      ],
      height: 500,
      width: 500
    }

  Plotly.newPlot('myDiv', data, layout);
  Plotly.plot('graph', [{
  x: #{@x.data},
  y: #{@y.data},
  line: {simplify: false},
  }]);


  function randomize() {
    Plotly.animate('graph', {
      data: [{y: [Math.random(), Math.random(), Math.random()]}],
      traces: [0],
      layout: {}
    }, {
      transition: {
        duration: 500,
        ease: 'cubic-in-out'
      }
    })
    randomize()
  }

  randomize();

