.container
  %div.row
    = daru
  %div.row
    %div#myDiv
  %hr
    %div.row
      %div#graph2

:javascript
    var data = [
      {
        x: #{@x.data.data},
        y: #{@y.data.data},
        mode: 'line',
        name: 'temperature'
      }
    ];

    var layout = {

      // to highlight the timestamp we use shapes and create a rectangular

      shapes: [
        // 1st highlight during Feb 4 - Feb 6
        {
          type: 'rect',
          // x-reference is assigned to the x-values
          xref: 'x',
          // y-reference is assigned to the plot paper [0,1]
          yref: 'paper',
          x0: #{@x.data.data[0]},
          y0: #{@y.data.data[0]},
          x1: #{@x.data.data[1]},
          y1: #{@y.data.data[1]},
          fillcolor: '#d3d3d3',
          opacity: 0.2,
          line: {
            width: 0
          }
        },

        // 2nd highlight during Feb 20 - Feb 23

        {
          type: 'rect',
          xref: 'x',
          yref: 'paper',
          x0: '2015-02-20',
          y0: 0,
          x1: '2015-02-22',
          y1: 1,
          fillcolor: '#d3d3d3',
          opacity: 0.2,
          line: {
            width: 0
          }
        }
      ],
      height: 500,
      width: 500
    }

  Plotly.newPlot('myDiv', data, layout);
  Plotly.plot('graph', [{
  x: [1, 2, 3],
  y: [0, 0.5, 1],
  line: {simplify: false},
  }]);


  function randomize() {
    Plotly.animate('graph', {
      data: [{y: [Math.random(), Math.random(), Math.random()]}],
      traces: [0],
      layout: {}
    }, {
      transition: {
        duration: 500,
        ease: 'cubic-in-out'
      }
    })
    randomize()
  }

  randomize();

