<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Creative expression, learning, data, connection</h1>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-ruby"><span class="glyphicon glyphicon-flash"></span> Gallery</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Data Viz</a>
  </div>
</div>
<div class="container">
    <div class="row" style="padding: 10px;text-align:center;background-color:black">
      <img src="<%= asset_path('hao1.jpg') %>" class ="img-responsive" alt="Card image cap" >
      <img src="<%= asset_path('hao2.jpg') %>" class ="img-responsive" alt="Card image cap" >
      <img src="<%= asset_path('hao3.jpg') %>" class ="img-responsive" alt="Card image cap" >
      <img src="<%= asset_path('hao4.jpg') %>" class ="img-responsive" alt="Card image cap" >
      <img src="<%= asset_path('hao5.jpg') %>" class ="img-responsive" alt="Card image cap" >
    </div> <!-- end row 1-->
  <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby" class="alert-link">Getting Started with Ruby on Heroku</a> tutorial.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Basketball and Fitness</h3>
      <ul>
        <li>You can scale your app, manage it, and deploy over <a href="https://addons.heroku.com/">150 add-on services</a>, from the Dashboard or CLI.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Blog</h3>
      <ul>
        <li>list item</li>
        <li>list item</li>
        <ul>
          <li><code>list item</code> list item</li>
          <li><code>list item</code> - change directory into the local source code repository</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
<div class="row"style="padding: 10px;text-align:center;background-color:black;">
      <img src="<%= asset_path('4.jpg') %>" class ="img-responsive" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('24.jpg') %>" class ="img-responsive" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('23.jpg') %>"class ="img-responsive" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('31.jpg') %> class ="img-responsive" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('26.jpg') %>" class ="img-responsive" alt="Card image cap" style="max-width:200px;max-height:280px">
</div> <!-- end row 3 -->
   <div class="alert alert-info text-center" role="alert">
    Alert info
  </div>
</div>
