<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="<%= asset_path('lang-logo.png') %>">
    </a>
    <h1>Creative expression, learning, data, connection</h1>
    <a type="button" class="btn btn-lg btn-default" <%=link_to('Gallery', '/shared/gallery') %></a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Data Viz</a>
  </div>
</div>
<div class="container">
    <div class="row" style="padding: 10px;text-align:center;background-color:black">
      <img src="<%= asset_path('hao1.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('hao2.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('hao3.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('hao4.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('hao5.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
    </div> <!-- end row 1-->
  <div class="alert alert-info text-center" role="alert">
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Basketball and Fitness</h3>
      <ul>
        <li>Coming soon.... <a href="http://leorajustme.blogspot.com"></a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Blog</h3>
      <ul>
        <li>list item</li>
        <li>list item</li>
        <ul>
          <li><code>list item</code> list item</li>
          <li><code>list item</code> - change directory into the local source code repository</li>
        </ul>
      </ul>
    </div>
  </div> <!-- row -->
<div class="row"style="padding: 10px;text-align:center;background-color:black;">
      <img src="<%= asset_path('4.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('24.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('23.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('31.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
      <img src="<%= asset_path('26.jpg') %>" alt="Card image cap" style="max-width:200px;max-height:280px">
</div> <!-- end row 3 -->
   <div class="alert alert-info text-center" role="alert">
    Alert info
  </div>
</div>
