.container
  %p.notice
    = notice

  .container
  %p.notice
    = notice

  %h1 RSVP List
  %h3 "#{@event.starts_at}"
  %table
    %thead
      %tr
        %th{:colspan => 3} Name
        %th{:colspan => 3} Attending
        %th{:colspan => 3} Paid for Season
        %th{:colspan => 3} Payment for Day

    %tbody
      - @event.participations.each do |participation|
        %tr
          %td{:colspan => 3}
            = participation.name
          %td{:colspan => 3}
            = participation.attending
          %td{:colspan => 3}
            = participation.user.paid_for_season?
          %td{:colspan => 3}
            = participation.amount_paid
          %td{:colspan => 3}
            = link_to "Show #{user.name} history", articipation.user

  %br

  = link_to 'New Purchase', new_purchase_path
