<!DOCTYPE html>
<html></html>
<head></head>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
<%= csrf_meta_tags %>
<title>BBALL</title>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">
          <span class="glyphicon glyphicon-home"></span>
          Home
        </a>
      </li>
      <li>
          <%= link_to('McK Login', '/admin/index', span: { class: "glyphicon glyphicon-user"}) %>
      </li>
<!--      <li class="dropdown">-->
<!--        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">-->
<!--          <span class="glyphicon glyphicon-info-sign"></span>-->
<!--          Buy Some Arts you little Farts-->
<!--          <span class="caret"></span>-->
<!--        </a>-->
<!--        <ul class="dropdown-menu" role="menu">-->
<!--          <li>-->
            <%#= link_to('5in x 9in', :controller => :purchases, :action => :new, :size => 'small') %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to('7in x 11in', :controller => :purchases, :action => :new, :size => 'med') %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to('15in x 15in', :controller => :purchases, :action => :new, :size => 'large') %>
<!--          </li>-->
<!--          <li>-->
            <%#= link_to('Custom', :controller => :purchases, :action => :new, :size => 'custom') %>
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="mailto:leorajuster@gmail.com">
          <span class="glyphicon glyphicon-book"></span>
          Contact McK
        </a>
      </li>
    </ul>
  </div>
</nav>
<%= yield %>


