<!DOCTYPE html>
<html>
<head>
  <title>L C J</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Leora Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Buy Some Artsy you little Fartsy<span class="caret"></span></a>
                 <ul>
                   <li><%= link_to('5in x 9in', :controller => :main, :action => :index, :size => 'small') %></li>
                   <li><%= link_to('7in x 11in', :controller => :main, :action => :index, :size => 'med') %></li>
                   <li><%= link_to('15in x 15in', :controller => 'main', :action => :index, :size => 'large') %></li>
                    <li><%= link_to('Custom', :controller => 'main', :action => :index, :size => 'custom') %></li>  
                 </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="mailto:leorajuster@gmail.com"><span class="glyphicon glyphicon-book"></span> Contact</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
