<!DOCTYPE html>
<html>
<head>
  <title>L C J</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Leora Works</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Buy Some Artsy you little Fartsy<span class="caret"></span></a>
                 <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="B4SLYV93JD2MJ">
                        <ul><tr>CHOOSE YOUR DIMENSIONS</tr><hr>
                        <tr><td><select name="os0">
                            <option value="9in x 6in">9in x 6in $35.00 USD</option>
                            <option value="11in x 7in">11in x 7in $50.00 USD</option>
                            <option value="19in x 14in">19in x 14in $125.00 USD</option>
                        </select> </td></tr>
                        </table>
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"><hr><hr>
                        <h1>Send your image to <a href="mailto:leorajuster@gmail.com" role="button">leorajuster@gmail.com</a>
              </form>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="mailto:leorajuster@gmail.com"><span class="glyphicon glyphicon-book"></span> Contact</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
